<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/static/js/custom_upload.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/jquery.cookie.js"></script>
  <script src="/static/js/home.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36424775-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    var boardcount = {{boardcount}};
    var wordcount = {{wordcount}};
  </script>
  <link href="/static/css/areset.css" rel="stylesheet" type="text/css">
  <link href="/static/css/main.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
  <link href="/static/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>

<div class="main-full">
  <div class="stripe"></div>

  <div class="header"><img src="/static/img/letterpest_logo.png" /></div>

  <ul class="nav">
    <li data-tab="pestboard" class="active">Pestboard</li>
    <li data-tab="how">How It Works</li>
    <li data-tab="about">About</li>
  </ul>
  <div class="content pestboard">
    <h2>Pestboard</h2>
    <div class="dictionary">
      <h5>random word of the day</h5>
      <div class="word">hypergelast</div>
      <div class="guide">(hy-PUHR-ji-last) noun</div>
      <div class="meaning">One who laughs excessively.</div>
    </div>

    <div class="counts">
      <h5>total game boards uploaded</h5>
      <div class="boardcount count">
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
      </div>
      <div class="clear"></div>
      <h5>total words found</h5>
      <div class="wordcount count">
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
        <div class="number">0</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
      <div class="pest"><img src="/static/img/footer_pest.png" /></div>
    </div>

  </div>
  <div class="content how hide">
    <h2>How it works</h2>
    <div class="steps">

      <div class="step">
        <h3>Step 1</h3>
        <div class="description">Go to one of the games in the Letterpress app on your phone.</div>
        <img src="/static/img/letterpress_logo.png" class="letterpresslogo" />
        <div class="note"><em>Note</em><br />
          Make sure that your Letterpress theme is set to Light.
        </div>
      </div>

      <div class="step">
        <h3>Step 2</h3>
        <div class="description">Take a screenshot of your game.</div>
        <img src="/static/img/screenshotting.png" class="howtoimg" />
        <div class="note"><em>How to screenshot</em> <br />
          Hold down the hold and home buttons as the same time.
        </div>
      </div>

      <div class="step">
        <h3>Step 3</h3>
        <div class="description">Go back to letterpest and upload your board.</div>
        <img src="/static/img/uploading.png" class="uploading" />
        <div class="note"><em>Note</em> <br />
          Uploading only works in iOS6. This is not supported in other iOSs.
        </div>
      </div>

      <div class="step laststep">
        <h3>Step 4</h3>
        <div class="description">All the words you can possibly play to beat your frienemies!</div>
        <img src="/static/img/words.png" class="words" />
        <div class="note"><em>Plus</em> <br />
          Search for words with specific letters.
        </div>
      </div>

    </div>

    <div class="tryit">Try it out by opening Letterpest on your phone today!</div>

    <div class="footer">
      <div class="pest"><img src="/static/img/footer_pest.png" /></div>
    </div>

    
  </div>
  <div class="content about hide">
    <h2>About</h2>

    <div class="jam">
      <img src="/static/img/jesse_pest.png" />
      <h3>Jesse Bounds</h3>
      <h5>Favorite word</h5>
      Manchego
      <h5>Favorite cheese</h5>
      Manchego
      <ul>
        <li><a class="twitter" href="https://twitter.com/boundsj" target="_blank"></a></li>
        <li><a class="github" href="https://github.com/boundsj" target="_blank"></a></li>
        <li><a class="email" href="mailto:jesse@codeforamerica.org"></a></li>
      </ul>
    </div>

    <div class="jam">
      <img src="/static/img/angel_pest.png" />
      <h3>Angel Kittiyachavalit</h3>
      <h5>Favorite word</h5>
      Justaposition
      <h5>Favorite cheese</h5>
      Gouda! It's so gouda!
      <ul>
        <li><a class="twitter" href="https://twitter.com/angelk" target="_blank"></a></li>
        <li><a class="github" href="https://github.com/akit" target="_blank"></a></li>
        <li><a class="email" href="mailto:angel@codeforamerica.org"></a></li>
      </ul>
    </div>

    <div class="jam">
      <img src="/static/img/mick_pest.png" />
      <h3>Mick Thompson</h3>
      <h5>Favorite word</h5>
      Beer
      <h5>Favorite cheese</h5>
      Brie
      <ul>
        <li><a class="twitter" href="https://twitter.com/dthompson" target="_blank"></a></li>
        <li><a class="github"href="https://github.com/dthompson" target="_blank"></a></li>
        <li><a class="email" href="mailto:mick@codeforamerica.org"></a></li>
      </ul>
    </div>

    <div class="tryit">If you have any feedback, cheese, or chesse puns please send it our way!</div>

    <div class="footer">
      <div class="pest"><img src="/static/img/footer_pest.png" /></div>
    </div>

  </div>
  
</div>

<div class="main">
  <div class="title_main left">HELLO <span class="bolder">PEST!</span></div>
  <div class="mouse_main right"></div>
  <div class="inst_main clear">
    Take a screenshot of your Letterpress board and 
    we'll show you all the words you can play!
  </div>
  <div class="spacer-20"></div>
  <div class="upload_board clear" id="upload"></div>
  
  <form class="spacer-20" method="post" enctype="multipart/form-data" action="/file-upload">
    <input id="upload-real" type="file" class="no-display" accept="image/*" capture="camera" name="image_name">
    <button id="submit-file" type="submit" class="no-display" name="submit_btn">submit</button>
  </form>
</div>

