body {
  margin-top: 25px;
  font-family: 'ExistenceLight', 'Helvetica', sans-serif;
}

/*
 * Fonts
 */

@font-face {
    font-family: 'ExistenceLight';
    src: url('../font/Existence-Light-webfont.eot');
    src: url('../font/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Existence-Light-webfont.woff') format('woff'),
         url('../font/Existence-Light-webfont.ttf') format('truetype'),
         url('../font/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * General
 */

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: left;
}

.no-display {
  display: none;
}

.spacer-20 {
  margin-bottom: 20px;
}

.results .highlighted {
  background-color: #6EFEC1;
}

/*
 * Main page
 */

.main {}

.main .title_main {
  margin-top: 32px;
  width: 100px;
  font-size: 60px;
  margin-left: 22px;
}
.main .title_main .bolder {
  font-weight: 900;
}

.main .mouse_main {
  background-image: url('/static/img/mouse_main.png');
  width: 125px;
  height: 145px;
  background-size: 125px 145px;
  margin-bottom: 20px;
}

.main .inst_main {
  font-size: 18px;
  font-family: 'Lato';
  color: #595959;
  line-height: 125%;
  width: 280px;
  margin-bottom: 20px;
  margin-left: 22px;
}

.main .upload_board {
  background-image: url('/static/img/upload_board.png');
  width: 150px;
  height: 149px;
  background-size: 150px 149px;
  margin: auto;
}

/*
 * Results page
 */

.results {
  font-family: 'Lato';
  margin-bottom: 10px;
}

.results .your-board {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.results table {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: normal;
  margin: auto;
}
.results td, tr {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.results .board-img {
  text-align: center;
}

.results .controller {
  text-align: center;
}
.results .controller .circle {
  display: inline-block;
  background: #373737;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.results .controller .focus {
  background: #489878;
}

.results .letter-filter {
  width: 100%;
  text-align: center;
}
.results .letter-filter-spacer {
  width: 2%;
}
.results .btn-filter {
  background-color: #fff;
  color: #777;
  padding: 10px;
  border: 1px solid;
  width: 43.2%;
  margin-left: 0;
  margin-right: 0;
}

.results .focus {
  background-color: #373737;
  color: #fff;
  border-color: #777;
}
.results .letter-btn-footer {
  margin-top:46px;
  background-color: #373737;
  width: 100%;
  height: 5px;
}

.results .result-list {
  font-size: 25px;
  padding: 20px;
  height: 100%;
  overflow: scroll;
}
.results .result-list li {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.results .word-count {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #E61B66;
  text-align: center;
}
.results .bump-down {
  margin-top: 20px;
}

.results .divider {
  background-color: #373737;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.results .filter {
  margin-top: 15px;
  text-align: center;
}
#filter {
  font-size: 20px;
  text-transform: uppercase;
}
.results .filter .filter-text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: dotted;
  width: 180px;
  margin-bottom: 20px;
}

