body {
  margin-top: 25px;
  font-family: 'ExistenceLight', 'Helvetica', sans-serif;
}

@font-face {
    font-family: 'ExistenceLight';
    src: url('../font/Existence-Light-webfont.eot');
    src: url('../font/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Existence-Light-webfont.woff') format('woff'),
         url('../font/Existence-Light-webfont.ttf') format('truetype'),
         url('../font/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.spacer-20 {
  margin-bottom: 20px;
}

.title_main {
  margin-top: 32px;
  width: 100px;
  font-size: 60px;
  margin-left: 22px;
}
.title_main .bolder {
  font-weight: 900;
}

.mouse_main {
  background-image: url('/static/img/mouse_main.png');
  width: 125px;
  height: 145px;
  background-size: 125px 145px;
  margin-bottom: 20px;
}

.inst_main {
  font-size: 18px;
  font-family: 'Lato';
  color: #595959;
  line-height: 125%;
  width: 280px;
  margin-bottom: 20px;
  margin-left: 22px;
}

.upload_board {
  background-image: url('/static/img/upload_board.png');
  width: 150px;
  height: 149px;
  background-size: 150px 149px;
  margin: auto;
}

.no-display {
  display: none;
}

